# Documentation files
include README.md
include LICENSE
include requirements.txt

# Package specific files
recursive-include src/treediskanalyzer/externals/devernay_1.0 *.out

recursive-include src/treediskanalyzer *.py